# Replace the values below with your own env variables. Do not commit your .env file to git. This file is only for reference and should be renamed to .env before use.

VITE_CLERK_PUBLISHABLE_KEY=pk_test_example

# Sentry Config
VITE_SENTRY_DSN=https://example.ingest.us.sentry.io/example

VITE_API_URL=http://localhost:3000
